:root {
  --blue: #308fff;
  /* --green: #54c98f; */
  --green: #46b57e;
  --orange: #ffae31;
  --navyBlue: #33179c;
  --red: #ff4d63;
  --gold: #a7823b;
  --grey: #d8d8d8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: var(--font-madani), sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
